$pretty-blue: #20aebb;
$black-grey: #2B2B2B;
$title-header: #FFFFFF;

@import 'https://fonts.googleapis.com/css?family=Roboto:100,300,400';
@import 'https://fonts.googleapis.com/css?family=Lato';
body {
    /* Background Image Option
    background-image: url(../../images/bg2.jpg);
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    Fim Background Image Option */
    
    background: white; /* For browsers that do not support gradients */
    
    background-image: url(../images/bg2.jpg);
     background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
      
    color: $title-header;
    
    margin: 0;
}

#introduction {
    height: -webkit-calc(100% - 10px);
    height:    -moz-calc(100% - 10px);
    height:         calc(100% - 10px);

    .align-vertical-center {
        position: relative;
        top: 50%;
        transform: translateY(-50%); 
        /* etc */
        -webkit-transform: translateY(-50%);

        padding: 20px;
        
        font-weight: 200;
        text-align: center;
        .featured {
            color: $pretty-blue !important;
            text-transform: uppercase;
            font-size: 1.0em;
            color: black;
            font-weight: bold;
        }
        
        .big-font {
            font-size: 2.0em;
            font-weight: bold;
            text-transform: uppercase;
        }
    }   
    
    #social {
        height: 20px;
        width:160px;

        top:0;
        
        margin-left: auto;
        margin-right: auto;
        .icon {
            width: 20px;
            height: 20px;
            margin-right: 20px;

            float: left;
        }

        #facebook {
            background-image: url(../images/icon-fb.png);

            &:hover {
                background-image: url(../images/icon-fb-hover.png);
            }
        }

        #twitter {
            background-image: url(../images/icon-twitter.png);

            &:hover {
                background-image: url(../images/icon-twitter-hover.png);
            }
        }

        #linkedin {
            background-image: url(../images/icon-linkedin.png);

            &:hover {
                background-image: url(../images/icon-linkedin-hover.png);
            }
        }

        #git {
            background-image: url(../images/icon-git.png);

            &:hover {
                background-image: url(../images/icon-git-hover.png);
            }
        }
    }
}

#detail {
    height: 10px;
    width:100%;

    bottom:0;
    background-color: $black-grey;
}

#about-me {
    background-color: $black-grey;
    color: white;
    
    padding-top: 50px;
    font-weight: 200;
    
    h4 {
        color: white;
        font-weight: 100;
    }
    
    h5 {
        font-weight: 200; 
    }
   
    p {
        font-family: 'Lato', sans-serif;
    }
    .photo {
        width: 150px;
        height: 150px;
        
        margin-left: auto;
        margin-right: auto;
    }
    
    #info-me {
        margin-top: 20px;
    }
    
    .chip {
        margin-right: 20px;
    }
}