$pretty-blue: #20aebb;
$pretty-orange: #d68811;
$black-grey: #2B2B2B;
$title-header: #FFFFFF;

@import 'https://fonts.googleapis.com/css?family=Roboto:100,300,400';
@import 'https://fonts.googleapis.com/css?family=Lato';
body {
    /* Background Image Option
    background-image: url(../../images/bg2.jpg);
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    Fim Background Image Option */
    
    background: white; /* For browsers that do not support gradients */
    
    background-image: url(../images/bg2.jpg);
     background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
      
    color: $title-header;
    
    margin: 0;

    p {
        font-family: 'Lato', sans-serif;
    }
}

#introduction {
    height: -webkit-calc(100% - 0px);
    height:    -moz-calc(100% - 0px);
    height:         calc(100% - 0px);

    a {
        color: #fff;
    }
    
    .align-vertical-center {
        position: relative;
        top: 50%;
        transform: translateY(-50%); 
        /* etc */
        -webkit-transform: translateY(-50%);

        padding: 20px;
        
        font-weight: 200;
        text-align: center;
        .featured {
            color: $pretty-blue !important;
            text-transform: uppercase;
            font-size: 1.0em;
            color: black;
            font-weight: bold;
        }
        
        .big-font {
            font-size: 2.0em;
            font-weight: bold;
            text-transform: uppercase;
        }
    }   
    
    #social {
        height: 20px;
        width:160px;

        top:0;
        
        margin-left: auto;
        margin-right: auto;
        .icon {
            width: 20px;
            height: 20px;
            margin-right: 20px;

            float: left;
        }

        #facebook {
            background-image: url(../images/icon-fb.png);

            &:hover {
                background-image: url(../images/icon-fb-hover.png);
            }
        }

        #twitter {
            background-image: url(../images/icon-twitter.png);

            &:hover {
                background-image: url(../images/icon-twitter-hover.png);
            }
        }

        #linkedin {
            background-image: url(../images/icon-linkedin.png);

            &:hover {
                background-image: url(../images/icon-linkedin-hover.png);
            }
        }

        #git {
            background-image: url(../images/icon-git.png);

            &:hover {
                background-image: url(../images/icon-git-hover.png);
            }
        }
    }
}

#detail {
    height: 10px;
    width:100%;

    bottom:0;
    background-color: $black-grey;
}

#about-me {
    background-color: $black-grey;
    color: white;
    
    margin-bottom:25px;
    
    padding-top: 50px;
    padding-bottom: 10px;
    font-weight: 200;
    
    h4 {
        color: white;
        font-weight: 100;
    }
    
    h5 {
        font-weight: 200; 
    }
    
    .photo {
        width: 150px;
        height: 150px;
        
        margin-left: auto;
        margin-right: auto;
    }
    
    #info-me {
        margin-top: 20px;
    }
}

#skills {
    background-color: $pretty-orange;
    
    margin-bottom:25px;
    
    padding-top: 40px;
    padding-bottom: 40px;
    
    font-weight: 200;
    
    h4 {
        color: white;
        font-weight: 100;
    }
    
    .chip {
        margin-right: 20px;
        margin-top:10px;
    }
    
    .active {
        background-color: $black-grey !important; 
        color: white !important;
    }
}

#experience {
    background-color: $black-grey;
    
    margin-bottom:25px;
    
    padding-top: 40px;
    padding-bottom: 40px;
    
    font-weight: 200;
    
    h4 {
        color: white;
        font-weight: 100;
    }
    
    .job-info {
        margin-bottom: 50px;
        margin-top: 50px;
    }
    
    .separator {
        width: 100%;
        height: 2px;
        background-image: url(../images/line.png);
        background-repeat: repeat-x;
    }
}

#education {
    background-color: $pretty-orange;
    
    margin-bottom:25px;
    
    padding-top: 40px;
    padding-bottom: 40px;
    
    font-weight: 200;
    
    h4 {
        color: white;
        font-weight: 100;
    }
    
    .education-info {
        height: 70px;
    }
    
    .separator {
        width: 100%;
        height: 2px;
        background-image: url(../images/line.png);
        background-repeat: repeat-x;
    }
}